<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth process finished successfully</title>

    <script>
        window.close()
    </script>

    <style>
        body {
            background-color: #fff;
            font-size: 18px;
            color: #000;
            display: flex;
            vertical-align: middle;
            justify-content: center;
            height: 100vh;

        }
        a {
            color: #167dfe;
            text-decoration: none;
        }
        .auth-finished {
            height: 100vh;
            display: flex;
            position: fixed;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>

You was succefully authorized
<div class="auth-finished">
    <div>
        This window could be safely closed
    </div>
    <div>
    </div>
</div><br/>

</body>
</html>
